.slider-container {
  /* background-color: red; */
  width: 100%;
  height: 100vh;
}
.text-postslider {
  width: 100%;
}

.text-postslider button {
  width: 20%;
  float: right;
  margin-top: 9px;
}
.inputpostslider {
  width: 73% !important;
  /* background-color: green; */
  float: right;
}
.post1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.post1 video {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.post1 img {
  width: 100%;
  height: 600px;
  background-color: black;
}
.rightbottom {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 40px;
  right: 12px;
  /* background-color: yellow; */
}
.rightupbottom {
  width: 100px;
  height: 150px;
  position: absolute;
  bottom: 150px;
  right: 0px;
  /* background-color: red; */
}

.rightupbottom ul {
  list-style-type: none; /* برای حذف شماره‌گذاری یا نقاط */
  padding: 0;
  margin: 0;
}
.comment-section {
  position: fixed;
  bottom: 40px;
  display: none;
  left: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid #ccc;
  padding: 20px;
  /* height: 400px; */
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out; /* اضافه کردن transition برای نرمی */
  opacity: 0;
}

.comment-section.open {
  max-height: 400px;
  display: block;
  opacity: 1; /* وقتی باز است، بخش کامنت باید قابل مشاهده باشد */
}

.close-btn {
  position: absolute;
  top: 0%;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.close-btn:hover {
  color: red; /* رنگ قرمز برای زمانی که موس روی دکمه می‌رود */
}

.rightupbottom li {
  display: block; /* این ویژگی عمودی بودن را تضمین می‌کند */
  width: 50px;
  margin-top: 2px;
  height: 70px;
  /* background-color: yellow; */
  text-align: -moz-center;
}
.rightupbottom h4 {
  /* margin-right: -25px; */
  margin-top: 5px;
  color: rgb(212, 211, 211); /* رنگ متن */
}
.color {
  font-size: 25px;
  text-align: -moz-center;
  color: white;
  text-shadow: -1px -1px 0 #fff, /* دور سفید از بالا و چپ */ 1px -1px 0 #fff,
    /* دور سفید از بالا و راست */ -1px 1px 0 #fff,
    /* دور سفید از پایین و چپ */ 1px 1px 0 #fff; /* دور سفید از پایین و راست */
  font-weight: bold;
}
.bootomleft {
  position: absolute;
  bottom: 100px;
  left: 60px;
  color: white;
}
.bottomleftleft {
  position: absolute;
  bottom: 110px;
  left: 5px;
  width: 50px;
  height: 50px;
}
.bottomleftleft img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.yellow-circle {
  position: absolute;
  top: 0px;
  left: 65px;
  cursor: pointer;
  width: 50px !important;
  height: 50px !important;
  /* background-color: blue;  */
  border-radius: 50%;
  z-index: 1;
}

@media screen and (max-width: 599px) {
  .prev,
  .next {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .slider-container,
  .post1 video,
  .slider,
  .post1 ,
  .post1 img{
    height: 400px;
  }
  .post1 video  , .post1 img{
    width: 50%;
    float: left;
    /* background-color: green; */
  }
  .post1 {
    display: block;
  }
  /* .prev,
  .next {
    display: none;
  } */
  .rightbottom {
    right: 53.5%;
    bottom: 0px !important;
  }
  .aligen1 > div{
    width: 85%;
  }
  .rightupbottom {
    right: 52%;
    bottom: 100px;
  }
  .bootomleft {
    bottom: 30px;
  }
  .bottomleftleft {
    bottom: 35px;
  }
  .comment-section {
    width: 50%;
    height: 400px;
    float: right;
    display: block;
    opacity: 1;
    position: relative;
    padding: 0px;
    margin-top: -362px;
  }
  .prev {
    left: -60px;
  }

  .next {
    right: -60px;
  }
  .close-btn{
    display: none;
  }
}
@media screen and (min-width : 600px) and (max-width: 700px){
  .prev{
    left: 0px;
  }
  .next{
    right: 0px;
  }
  
}
@media screen and (min-width: 900px) {
  .slider-container,
  .post1 video,
  .slider,
  .post1 ,
  .post1 img{
    height: 600px;
  }
  .comment-section{
    height: 600px;
    margin-top: -560px;
  }
  .comments-section{
    height: 520px;
  }
  .rightbottom {
    right: 53%;
    bottom: 0px !important;
  }
  .bootomleft{
    bottom: 75px;
  }
  .bottomleftleft{
    bottom: 80px;
  }
  .comment-section.open {
    height: 800px;
    display: block;
    opacity: 1; 
  }
}

