/* Explore component container */
.explore-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Tabs fixed at the bottom */
.tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tabs-container {
  float: left;
  background-color: white;
}

.tabs-explore {
  float: left;
  bottom: 25px;
  background-color: white;
}

.tabs-explore li {
  width: 20%;
  float: right;
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > div {
  float: right;
  width: 50%;
}
.header li {
  margin-top: 25px;
  text-align: center !important;
  margin-top: 25px;
  width: 60px;
}

.header h1 {
  font-size: 25px;
  margin: 5px;
}
.gif{
  width: 100px !important;
  height: 100px !important;
  margin-right: -30px;
  margin-top: -35px;
}
.story {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.story::-webkit-scrollbar {
  display: none;
}
.comments-section {
  width: 98%;
  text-align: right;
  height: 300px;
  margin-top: 20px;
  /* background-color: blue; */
  border: 1px solid black;
  border-radius: 10px;
  overflow-y: scroll; /* فعال کردن اسکرول */
  scrollbar-width: none; /* مخفی کردن اسکرول در فایرفاکس */
}
.comments-section h4 {
  margin: 10px;
}
.comments-section > div {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  text-align: right;
  width: 100%;
}
.comments-section img {
  margin-top: 8px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 1px;
}

.comments-section::-webkit-scrollbar {
  display: none; /* مخفی کردن اسکرول در کروم و سایر مرورگرهای مبتنی بر وب‌کیت */
}

.story ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.story li {
  display: inline-block;
  width: 100px;
  height: 100px;
  /* background-color: blue; */
  margin: 10px;
  border-radius: 50%;
  overflow: hidden; /* برای برش تصویر خارج از دایره */
  list-style-type: none;
  position: relative;
}

.imagestory {
  width: 100px;
  height: 100px;
  object-fit: cover; /* برای پر کردن کامل فضای دایره بدون تغییر نسبت تصویر */
  object-position: center; /* برای وسط‌چین کردن تصویر */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.posts {
  width: 100%;
  height: 510px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.posts img {
  width: 450px;
  height: 500px;
}
.posts video {
  width: 450px;
  height: 500px;
}

.posts > div {
  width: 80%;

  height: 600px;
  display: block;
  text-align: center;
}
.abzar {
  /* background-color: blue; */
  background-color: white;
  /* border: 1px solid black; */
  height: 100px;
  margin: auto;
  width: 450px;
}

.allpost:has(.imagepost) .green-circle {
  display: none;
}

.other {
  width: 100%;
  text-align: left;
  /* background-color: red; */
  margin-top: 30px;
}
.other h4 {
  margin: 0px;
}
.other p {
  margin: 0px;
}
.posts li {
  /* background-color: green; */
  width: 10%;
  float: left;
}

.posts li:nth-child(4) {
  float: right;
}
.allpost {
  padding-bottom: 50px;
  margin-top: 60px;
}
.image-container {
  position: relative;
}
.circle {
  height: 200px;
  width: 450px;
  margin: auto;
}
.image-container {
  position: relative;
}

.blue-circle {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px !important;
  height: 50px !important;
  /* background-color: blue;  */
  border: 1px solid black;
  border-radius: 50%;
  z-index: 1;
}
.yellow-circle {
  position: absolute;
  top: 0px;
  left: 65px;
  cursor: pointer;
  width: 50px !important;
  height: 50px !important;
  /* background-color: blue;  */
  border-radius: 50%;
  z-index: 1;
}

.blue-circle img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.text-explore {
  position: absolute;
  right: 0px;
  bottom: 100px;
  text-align: right;
  width: 100%;
}
.inputExplore {
  width: 40% !important;
}
.green-circle {
  position: absolute;
  /* background-color: green; */
  width: 50px !important;
  height: 50px !important;
  bottom: 80px;
  right: 470px;
  border-radius: 50%;
  z-index: 1;
}
.red-circle {
  position: absolute;
  bottom: 100px;
  right: 470px;
  width: 50px !important;
  height: 50px !important;
  background-color: red;
  border-radius: 50%;
  z-index: 1;
}
.yellow-circle h3 {
  display: -webkit-box;
  color: black; /* رنگ متن */
  text-shadow: -1px -1px 0 #fff, /* دور سفید از بالا و چپ */ 1px -1px 0 #fff,
    /* دور سفید از بالا و راست */ -1px 1px 0 #fff,
    /* دور سفید از پایین و چپ */ 1px 1px 0 #fff; /* دور سفید از پایین و راست */
  font-weight: bold;
}

.volume-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* پس‌زمینه نیمه‌شفاف برای تمایز آیکون */
  padding: 8px;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container {
  position: relative;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .red-circle {
    position: absolute;
    bottom: 170px;
    right: 0px;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    z-index: 1;
  }
  .tabs-explore {
    width: 100%;
  }
  .tabs-container {
    width: 100%;
  }
  .posts {
    height: 800px;
    margin-top: 30px;
  }

  .allpost {
    margin-top: 20px !important;
    padding-bottom: 100px;
  }

  .posts > div > img {
    width: 100%;
    height: 400px;
  }
  /* .posts img{
    width: 450px;
    height: 500px;
  } */
  .posts video {
    width: 100%;
    height: 400px;
  }

  .abzar {
    width: 100%;
    height: 500px;
  }
  .text-explore{
    bottom: -300px !important;

  }
  .explore-container{
    padding-bottom: 150px;
  }
  .inputExplore{
    width: 70% !important;
  }
  .yellow-circle{
    left: 90px;
  }
  .green-circle{
    right: 10px;
    bottom: 180px;
  }

}

@media screen and (min-width: 577px) and (max-width: 900px) {
  .tabs-container {
    width: 30%;
  }
  .tabs-explore {
    width: 100%;
  }
  .blue-circle {
    top: 20px;
    left: 20px;
  }
}

@media screen and (min-width: 901px) {
  .tabs-container {
    width: 30%;
  }
  .tabs-explore {
    width: 100%;
  }

  .posts > div {
    width: 900px;
  }
  .posts > div > div {
    width: 450px;
    float: right;
  }
  .posts > div > div:nth-child(3) {
    height: 500px;
  }
  .abzar {
    height: 500px;
  }
}
